.userpic{
    height: 70px;
    width: 70px;
    border-radius: 30px;
    border:1px solid grey;
}
.background_logined{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left:15%;
    padding: 5px 5px;
    background-color: white;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0 7px 9px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.trlogin1{
 background-color: white;
 border-radius: 20px;
 padding-right: 10px;
}
.trlogin2{
    background-color: white;
    padding-right: 10px;
   }
.logout_link{
    background: white;
    color: black;
    position: relative;
    text-decoration: none;
}
.logout_link:after{
    background-color: #8da683;
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.logout_link:hover:after,
.logout_link:focus:after
{
    width: 100%;
}
.profile_link{
    background-color: white;
    color: black;
    position: relative;
    text-decoration: none;
}
.profile_link:after{
    background-color: #8da683;
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.profile_link:hover:after,
.profile_link:focus:after
{
    width: 100%;
}

