
.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0,5;
}

.textmenu{
    font-size: small;
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}


.dropdown:hover .dropbtn {
    background-color: white;
    
}
.img{
    background-color: white;
    height: 50px;
    width: 50px;
}
.dropdown:hover .dropdown-content {
    position: absolute;
    right: 5%;
    display: block;
    z-index: 100;
}
.textmenu:after{
    background-color: black;
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.textmenu:after,
.textmenu:focus:after
{
    width: 100%;
}